body{
    text-align: center;
    font-family: "Roboto Condensed",Helvetica,Arial,sans-serif;
    background-color: crimson;
}
h1{
    color: white;
}
table{
    background-color: lightblue;
    border-collapse: collapse;
    width: 100%; 
}
th{
    text-decoration: inherit;
}
.img{
    width:100px; 
    height:auto;
    background-color: peru;
}
.img img{
    width:100px; 
    height:auto;
}
tr{
    background-color: lemonchiffon;
}
.gg{
    background-color: slategrey;
}
