.img{
    width:100px; 
    height:auto;
    background-color: blueviolet;
}
.img img{
    width:100px; 
    height:auto;
}
body{
    background-color: gold;
    font-family: "Roboto Condensed",Helvetica,Arial,sans-serif;
    font-size: 24px;
}
h1{
    color: red;
    text-align: center;
}
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
tr{
    background-color: aqua;
}
.tde{
    background-color: forestgreen;
}